body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.info.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
}

.info.legend br {
  clear: both;
  display: block;
  content: "";
}
